.categoryLabelText {
  text-transform: uppercase;
  color: gray;
  font-size: 3rem;
  font-weight: 800;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond,
    "Times New Roman", serif;
}
